.footer {
  background-color: $darkModerateCyan;

  @include breakpoint-up(medium) {
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;
  }

  &__logo {
    img {
      display: block;
      margin-right: auto;
      margin-bottom: 2rem;
      margin-left: auto;
    }
  }
  &__nav {
    max-width: 18.25rem;
    margin-right: auto;
    margin-bottom: 4.375rem;
    margin-left: auto;
    a {
      color: $darkDesaturatedCyan;

      &:before {
        background-color: $darkDesaturatedCyan;
      }
    }
  }
  &__social {
    margin: 0 auto;
    max-width: 8.25rem;

    a img {
      cursor: pointer;

      &:hover {
        color: $white;
      }
    }
    @include breakpoint-up(large) {
      max-width: 10.5rem;
    }
  }
}
